body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .MuiCardContent-root {
  padding: 16px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  width: 556px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 29px;
}

.MuiCard-root {
  max-width: 100%;
  width: 100%;
  border-radius: 20px;
} */